{% extends 'main/layout.html' %}
{% load static %}

{% block stl %}
    <style type="text/css">
        .p1 {max-width: 1500px; margin: 20px auto; font-size: 25px; text-align: center}
        .p2 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p3 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p4 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
    </style>
    <style>
        body {
            background: linear-gradient(90deg, rgba(3, 31, 63, 1) 0%, rgba(16, 25, 38, 1) 50%);
            overflow-x:hidden;
        }
        .oa{
            top: -30vh;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Земля</h1>

        <div class="p1">
            Научные данные указывают на то, что Земля образовалась из солнечной туманности около 4,54 миллиарда лет назад и вскоре после этого обрела свой единственный естественный спутник — Луну.
            Жизнь, предположительно, появилась на Земле примерно 4,25 млрд лет назад, то есть вскоре после её возникновения.
            С тех пор биосфера Земли значительно изменила атмосферу и прочие абиотические факторы, обусловив количественный рост аэробных организмов,
            а также формирование озонового слоя, который вместе с магнитным полем Земли ослабляет вредную для жизни солнечную радиацию, тем самым сохраняя условия существования жизни на Земле.
            Радиация, обусловленная самой земной корой, со времён её образования значительно снизилась благодаря постепенному распаду радионуклидов, содержавшихся в ней.
            Кора Земли разделена на несколько сегментов, или тектонических плит, которые движутся по поверхности со скоростями порядка нескольких сантиметров в год.
        </div>

        <div class="p2">
            Приблизительно 70,8 % поверхности планеты занимает Мировой океан, остальную часть поверхности занимают континенты и острова.
            На материках расположены реки, озёра, подземные воды и льды, которые вместе с Мировым океаном составляют гидросферу.
            Жидкая вода, необходимая для всех известных жизненных форм, не существует на поверхности какой-либо из известных планет и планетоидов Солнечной системы, кроме Земли.
            Полюсы Земли покрыты ледяным панцирем, который включает в себя морской лёд Арктики и антарктический ледяной щит.
        </div>

        <div class="p3">
            Внутренние области Земли достаточно активны и состоят из толстого, очень вязкого слоя, называемого мантией, которая покрывает жидкое внешнее ядро,
            являющееся источником магнитного поля Земли, и внутреннее твёрдое ядро, предположительно, состоящее из железа и никеля. Физические характеристики Земли
            и её орбитального движения позволили жизни сохраниться на протяжении последних 3,5 млрд лет. По различным оценкам, Земля будет сохранять условия для существования ж
            ивых организмов ещё в течение 0,5—2,3 млрд лет.
        </div>

        <div class="p4">
            Земля взаимодействует (притягивается гравитационными силами) с другими объектами в космосе, включая Солнце и Луну.
            Земля обращается вокруг Солнца и делает вокруг него полный оборот примерно за 365,26 солнечных суток — сидерический год.
            Ось вращения Земли наклонена на 23,44° относительно перпендикуляра к её орбитальной плоскости, это вызывает сезонные изменения
            на поверхности планеты с периодом в один тропический год — 365,24 солнечных суток. Сутки сейчас составляют примерно 24 часа.
            Луна начала своё обращение на орбите вокруг Земли примерно 4,53 миллиарда лет назад. Гравитационное воздействие Луны на Землю
            является причиной возникновения океанских приливов. Также Луна стабилизирует наклон земной оси и постепенно замедляет вращение Земли.
            Согласно некоторым теориям, падения астероидов приводили к существенным изменениям в окружающей среде и поверхности Земли, вызывая,
            в частности, массовые вымирания различных видов живых существ.
        </div>

        <div>
            <img width="500vw" hspace="20" src="{% static 'main/img/eart1.png' %}" alt="фото1">
            <img width="500vw" hspace="30" src="{% static 'main/img/eart2.png' %}" alt="фото2">
            <img width="500vw" hspace="20" src="{% static 'main/img/eart3.png' %}" alt="фото3">
            <img width="500vw" hspace="30" src="{% static 'main/img/eart4.png' %}" alt="фото4">
        </div>

    </div>
{% endblock %}

{% block bgImg %}
    <img src="{% static 'main/img/earthbg.png' %}" alt="фОН">
    <div class="oa">
        Земля́ — третья по удалённости от Солнца планета Солнечной системы. Самая плотная, пятая по диаметру и массе среди всех планет и крупнейшая среди планет земной группы,
            в которую входят также Меркурий, Венера и Марс. Единственное известное человеку в настоящее время тело Солнечной системы в частности и Вселенной вообще, населённое
            живыми организмами.
    </div>

<script src="{% static 'main/js/three.js-master/build/three.min.js' %}"></script>
<script src="{% static 'main/js/three.js-master/build/GLTFLoader.js' %}"></script>

<script src="{% static 'main/js/three.js-master/examples/js/controls/OrbitControls.js' %}"></script>
    <script>

        var scene = new THREE.Scene();

        var camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 0.1, 1000 );
        camera.position.z = 18;

        var renderer = new THREE.WebGLRenderer( );
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild( renderer.domElement );

        var controls = new THREE.OrbitControls(camera, renderer.domElement);
        controls.enableDamping = true;
        controls.dampingFactor = 0.25;
        controls.enableZoom = false;

        var keyLight = new THREE.DirectionalLight(new THREE.Color('hsl(40,100%,99%)'), 3.0);
        keyLight.position.set(0, 0, 100);

        const light = new THREE.PointLight(0xFFFFFF, 6);
        light.position.set(0, 30, 40);
        scene.add(light);

        let root = null;
        const gltfLoader = new THREE.GLTFLoader();
          const url = "{% static 'main/js/three.js-master/build/earth.glb' %}";
          gltfLoader.load(url, (gltf) => {
            root = gltf.scene;
            root.scale.set(10,10,10);
            scene.add(root);
          });

        var animate = function () {
            requestAnimationFrame( animate );
            root.rotation.y += 0.001;
            controls.update();
            renderer.render(scene, camera);
        };

        animate();


    </script>
{% endblock %}

{% block title %}
    <title>Земля</title>
{% endblock %}