{% extends 'main/layout.html' %}
{% load static %}

{% block stl %}
    <style type="text/css">
        .p1 {max-width: 1500px; margin: 20px auto; font-size: 25px; text-align: center}
        .p2 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p3 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p4 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p5 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
    </style>
    <style>
        body {
            background: linear-gradient(90deg, rgba(44, 19, 21, 1) 0%, rgba(39, 15, 21, 1) 50%);
            overflow-x:hidden;
        }
        .oa{
            top: -37vh;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Юпитер</h1>

        <div class="p1">
                Ряд атмосферных явлений на Юпитере: штормы, молнии, полярные сияния, имеет масштабы, на порядки превосходящие земные.
            Примечательным образованием в атмосфере является Большое красное пятно — гигантский шторм, известный с XVII века.
            Юпитер имеет, по крайней мере, 79 спутников, самые крупные из которых — Ио, Европа, Ганимед и Каллисто — были открыты Галилео Галилеем в 1610 году.
        </div>

        <div class="p2">
                Исследования Юпитера проводятся при помощи наземных и орбитальных телескопов; с 1970-х годов к планете было отправлено
            8 межпланетных аппаратов НАСА: «Пионеры», «Вояджеры», «Галилео», «Юнона» и другие.
            Во время великих противостояний (одно из которых происходило в сентябре 2010 года) Юпитер виден невооружённым
            глазом как один из самых ярких объектов на ночном небосклоне после Луны и Венеры. Диск и спутники Юпитера являются
            популярными объектами наблюдения для астрономов-любителей, сделавших ряд открытий
            (например, кометы Шумейкеров-Леви, которая столкнулась с Юпитером в 1994 году, или исчезновения Южного экваториального пояса Юпитера в 2010 году).
        </div>

        <div class="p3">
                Масса Юпитера в 2,47 раза превышает суммарную массу всех остальных планет Солнечной системы, вместе взятых, в 317,8 раз — массу Земли
            и примерно в 1000 раз меньше массы Солнца. Плотность (1326 кг/м³) примерно равна плотности Солнца и в 4,16 раз уступает плотности Земли (5515 кг/м³).
            При этом сила тяжести на его поверхности, за которую обычно принимают верхний слой облаков, более чем в 2,4 раза превосходит земную:
            тело, которое имеет массу, например, 100 кг, будет весить столько же, сколько весит тело массой 240 кг на поверхности Земли.
            Это соответствует ускорению свободного падения 24,79 м/с² на Юпитере против 9,81 м/с² для Земли.
            Большинство из известных на настоящее время экзопланет сопоставимы по массе и размерам с Юпитером,
            поэтому его масса (MJ) и радиус (RJ) широко используются в качестве удобных единиц измерения для указания их параметров.
        </div>

        <div class="p4">
                Большое красное пятно — овальное образование изменяющихся размеров, расположенное в южной тропической зоне.
            Было открыто Робертом Гуком в 1664 году. В настоящее время оно имеет размеры 15×30 тыс. км (диаметр Земли ~12,7 тыс. км),
            а 100 лет назад наблюдатели отмечали в 2 раза бо́льшие размеры. Иногда оно бывает не очень чётко видимым.
            Большое красное пятно — это уникальный долгоживущий гигантский ураган, вещество в котором вращается
            против часовой стрелки и совершает полный оборот за 6 земных суток.
            Благодаря исследованиям, проведённым в конце 2000 года зондом «Кассини», было выяснено, ч
            то Большое красное пятно связано с нисходящими потоками (вертикальная циркуляция атмосферных масс);
            облака здесь выше, а температура ниже, чем в остальных областях. Цвет облаков зависит от высоты: синие
            структуры — самые верхние, под ними лежат коричневые, затем белые. Красные структуры — самые низкие.
            Скорость вращения Большого красного пятна составляет 360 км/ч. Его средняя температура составляет −163 °C,
            причём между окраинными и центральными частями пятна наблюдается различие в температуре порядка 3–4 градусов.
            Это различие, как предполагается, ответственно за тот факт, что атмосферные газы в центре пятна вращаются по
            часовой стрелке, в то время как на окраинах — против. Также выдвинуто предположение о
            взаимосвязи температуры, давления, движения и цвета Красного пятна, хотя как именно она осуществляется,
            учёные пока затрудняются сказать.
        </div>

        <div class="p5">
                Существуют две основные гипотезы, объясняющие процессы возникновения и формирования Юпитера.
            Согласно первой гипотезе, получившей название гипотезы «контракции», относительное сходство химического состава
            Юпитера и Солнца (большая доля водорода и гелия) объясняется тем, что в процессе формирования планет на ранних стадиях ра
            звития Солнечной системы в газопылевом диске образовались массивные «сгущения», давшие начало планетам,
            то есть Солнце и планеты формировались схожим образом. Правда, эта гипотеза не объясняет всё-таки имеющиеся различия
            в химическом составе планет: Сатурн, например, содержит больше тяжёлых химических элементов, чем Юпитер,
            а тот, в свою очередь, больше, чем Солнце. Планеты же земной группы вообще разительно отличаются по своему химическому составу от планет-гигантов.

                Вторая гипотеза (гипотеза «аккреции») гласит, что процесс образования Юпитера, а также Сатурна, п
            роисходил в два этапа. Сначала в течение нескольких десятков миллионов лет шёл процесс формировани
            я твёрдых плотных тел, наподобие планет земной группы. Затем начался второй этап, когда на протяжении
            нескольких сотен тысяч лет длился процесс аккреции газа из первичного протопланетного облака на эти тела, д
            остигшие к тому моменту массы в несколько масс Земли.
        </div>

        <div>
            <img width="500vw" hspace="20" src="{% static 'main/img/jup1.png' %}" alt="фото1">
            <img width="500vw" hspace="30" src="{% static 'main/img/jup2.png' %}" alt="фото2">
            <img width="500vw" hspace="20" src="{% static 'main/img/jup3.png' %}" alt="фото3">
            <img width="500vw" hspace="30" src="{% static 'main/img/jup4.png' %}" alt="фото4">
        </div>

    </div>
{% endblock %}
{% block bgImg %}
    <img src="{% static 'main/img/jupiterbg.png' %}" alt="фОН">
    <div class="oa">
        Юпи́тер — крупнейшая планета Солнечной системы, пятая по удалённости от Солнца. Наряду с Сатурном,
            Ураном и Нептуном, Юпитер классифицируется как газовый гигант.
            Планета была известна людям с глубокой древности, что нашло своё отражение в мифологии и религиозных
            верованиях различных культур: месопотамской, вавилонской, греческой и других. Современное название Юпитера
            происходит от имени древнеримского верховного бога-громовержца.
    </div>

<script src="{% static 'main/js/three.js-master/build/three.min.js' %}"></script>
<script src="{% static 'main/js/three.js-master/build/GLTFLoader.js' %}"></script>

<script src="{% static 'main/js/three.js-master/examples/js/controls/OrbitControls.js' %}"></script>
    <script>

        var scene = new THREE.Scene();

        var camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 0.1, 1000 );
        camera.position.z = 18;

        var renderer = new THREE.WebGLRenderer( );
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild( renderer.domElement );

        var controls = new THREE.OrbitControls(camera, renderer.domElement);
        controls.enableDamping = true;
        controls.dampingFactor = 0.25;
        controls.enableZoom = false;

        var keyLight = new THREE.DirectionalLight(new THREE.Color('hsl(0,0%,100%)'), 1.0);
        keyLight.position.set(0, 0, 100);

        const light = new THREE.PointLight(0xFFFFFF, 2);
        light.position.set(0, 30, 40);
        scene.add(light);

        let root = null;
        const gltfLoader = new THREE.GLTFLoader();
          const url = "{% static 'main/js/three.js-master/build/jupiter.glb' %}";
          gltfLoader.load(url, (gltf) => {
            root = gltf.scene;
            root.scale.set(10,10,10);
            scene.add(root);
          });

        var animate = function () {
            requestAnimationFrame( animate );
            root.rotation.y += 0.001;
            controls.update();
            renderer.render(scene, camera);
        };

        animate();


    </script>
{% endblock %}

{% block title %}
    <title>Юпитер</title>
{% endblock %}