{% extends 'main/layout.html' %}
{% load static %}

{% block stl %}
    <style type="text/css">
        .p1 {max-width: 1500px; margin: 20px auto; font-size: 25px; text-align: center}
        .p2 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p3 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p4 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p5 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
    </style>
    <style>
        body {
            background: linear-gradient(90deg, rgba(54, 14, 13, 1) 0%, rgba(34, 7, 10, 1) 50%);
            overflow-x:hidden;
        }
        .oa{
            top: -35vh;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Марс</h1>

        <div class="p1">
            Рельеф Марса обладает многими уникальными чертами. Марсианский потухший вулкан гора Олимп — самая высокая известная гора
            на планетах Солнечной системы (самая высокая известная гора в Солнечной системе — на астероиде Веста),
            а долины Маринер — самый крупный известный каньон на планетах (самый большой каньон в Солнечной системе обнаружен на спутнике Плутона — Хароне).
            Помимо этого, южное и северное полушария планеты радикально отличаются по рельефу; существует гипотеза, что Великая Северная равнина,
            занимающая 40 % поверхности планеты, является импактным кратером; в этом случае она оказывается самым крупным известным ударным кратером в Солнечной системе.
            Марс имеет период вращения и смену времён года, аналогичные земным, но его климат значительно холоднее и суше земного.
        </div>

        <div class="p2">
            Вплоть до полёта к Марсу автоматической межпланетной станции «Маринер-4» в 1965 году многие исследователи полагали ,
            что на его поверхности есть вода в жидком состоянии. Это мнение было основано на наблюдениях за периодическими изменениями
            в светлых и тёмных участках, особенно в полярных широтах, которые были похожи на континенты и моря. Тёмные длинные линии на
            поверхности Марса интерпретировались некоторыми наблюдателями как ирригационные каналы для жидкой воды. Позднее было доказано,
            что большинство этих тёмных линий является оптической иллюзией.
        </div>

        <div class="p3">
            На самом деле из-за низкого давления вода (без примесей, понижающих точку замерзания) не может существовать в жидком состоянии
            на большей части (около 70 %) поверхности Марса. Вода в состоянии льда была обнаружена в марсианском грунте космическим аппаратом НАСА «Феникс».
            В то же время собранные марсоходами «Спирит» и «Opportunity» геологические данные позволяют предположить, что в далёком прошлом вода покрывала
            значительную часть поверхности Марса. Наблюдения в течение последнего десятилетия позволили обнаружить в некоторых местах на поверхности Марса слабую
            гейзерную активность. По наблюдениям с космического аппарата «Mars Global Surveyor», некоторые части южной полярной шапки Марса постепенно отступают.
        </div>

        <div class="p4">
            На 2020 год орбитальная исследовательская группировка на орбите Марса насчитывает шесть функционирующих космических аппаратов:
            «Марс Одиссей», «Марс-экспресс», «Mars Reconnaissance Orbiter», MAVEN, «Mars Orbiter Mission» и «ExoMars Trace Gas Orbiter».
            Это больше, чем около любой другой планеты, не считая Землю. Поверхность же Марса исследует только один марсоход — «Curiosity».
            Кроме того, на поверхности функционирует посадочный модуль миссии «InSight» («ИнСайт»), а также находятся несколько неактивных
            посадочных модулей и марсоходов, завершивших исследования. В 2020 году запущены ещё три миссии: марсоходы Персевирэнс и Тяньвэнь-1
            и одна автоматическая межпланетная станция — Аль-Амаль, в настоящий момент они летят к Марсу, прибытие аппаратов к Марсу и начало исследований ожидается в 2021 году.
        </div>

        <div class="p5">
            Марс хорошо виден с Земли невооружённым глазом. Его видимая звёздная величина достигает −2,91m (при максимальном сближении с Землёй).
            Марс уступает по яркости лишь Юпитеру (во время великого противостояния Марса он может превзойти Юпитер), Венере, Луне и Солнцу. Противостояние
            Марса можно наблюдать каждые два года. Последний раз Марс был в противостоянии 27 июля 2018 года. Это противостояние входит в число великих
            противостояний Марса. Он находился на расстоянии 0,386 а.е. от Земли. Как правило, во время великого противостояния
            (то есть при совпадении противостояния с Землёй и прохождения Марсом перигелия своей орбиты) оранжевый Марс является ярчайшим о
            бъектом земного ночного неба после Луны (не считая Венеру, которая и тогда ярче него, но видна утром и вечером), но это происходит
            лишь один раз в 15—17 лет в течение одной-двух недель.
        </div>

        <div>
            <img width="500vw" hspace="20" src="{% static 'main/img/mar.png' %}" alt="фото1">
            <img width="500vw" hspace="30" src="{% static 'main/img/mar2.png' %}" alt="фото2">
            <img width="500vw" hspace="20" src="{% static 'main/img/mar3.png' %}" alt="фото3">
            <img width="500vw" hspace="30" src="{% static 'main/img/mar4.png' %}" alt="фото4">
        </div>

    </div>
{% endblock %}

{% block bgImg %}
    <img src="{% static 'main/img/marsbg.png' %}" alt="фОН">
    <div class="oa">
        Марс — четвёртая по удалённости от Солнца и седьмая по размерам планета Солнечной системы;
            масса планеты составляет 10,7 % массы Земли.Названа в честь Марса
            — древнеримского бога войны, соответствующего древнегреческому Аресу.
            Иногда Марс называют «красной планетой» из-за красноватого оттенка поверхности, придаваемого ей минералом маггемитом — оксидом железа.
    </div>

<script src="{% static 'main/js/three.js-master/build/three.min.js' %}"></script>
<script src="{% static 'main/js/three.js-master/build/GLTFLoader.js' %}"></script>

<script src="{% static 'main/js/three.js-master/examples/js/controls/OrbitControls.js' %}"></script>
    <script>

        var scene = new THREE.Scene();

        var camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 0.1, 1000 );
        camera.position.z = 18;

        var renderer = new THREE.WebGLRenderer( );
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild( renderer.domElement );

        var controls = new THREE.OrbitControls(camera, renderer.domElement);
        controls.enableDamping = true;
        controls.dampingFactor = 0.25;
        controls.enableZoom = false;

        var keyLight = new THREE.DirectionalLight(new THREE.Color('hsl(0,0%,100%)'), 3.0);
        keyLight.position.set(0, 0, 100);

        const light = new THREE.PointLight(0xFFFFFF, 4);
        light.position.set(0, 30, 40);
        scene.add(light);

        let root = null;
        const gltfLoader = new THREE.GLTFLoader();
          const url = "{% static 'main/js/three.js-master/build/mars2.glb' %}";
          gltfLoader.load(url, (gltf) => {
            root = gltf.scene;
            root.scale.set(10,10,10);
            scene.add(root);
          });

        var animate = function () {
            requestAnimationFrame( animate );
            root.rotation.y += 0.001;
            controls.update();
            renderer.render(scene, camera);
        };

        animate();


    </script>
{% endblock %}

{% block title %}
    <title>Марс</title>
{% endblock %}