{% extends 'main/layout.html' %}
{% load static %}

{% block stl %}
    <style type="text/css">
        .p1 {max-width: 1500px; margin: 20px auto; font-size: 25px; text-align: center}
        .p2 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p3 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p4 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
    </style>
    <style>
        body {
            background: linear-gradient(90deg, rgba(36, 14, 6,1) 0%, rgba(23, 11, 2,1) 50%);
            overflow-x:hidden;
        }
        .oa{
            top: -37vh;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Меркурий</h1>

        <div class="p1">
            Среднее расстояние Меркурия от Солнца чуть меньше 58 млн км. Планета обращается вокруг Солнца за 88 земных суток.
            Видимая звёздная величина Меркурия колеблется от −1,9 до 5,5 при нижнем и верхнем соединении, но его нелегко заметить из-за близости к Солнцу.
        </div>

        <div class="p2">
            Меркурий относится к планетам земной группы. По своим физическим характеристикам Меркурий напоминает Луну.
            У него нет естественных спутников, но есть очень разрежённая атмосфера. Планета обладает крупным железным ядром, являющимся источником магнитного поля,
            напряжённость которого составляет 0,01 от земного магнитного поля. Ядро Меркурия составляет 83 % от всего объёма планеты.
            Температура на поверхности Меркурия колеблется от 80 до 700 К (от −190 до +430 °C). Солнечная сторона нагревается гораздо больше, чем полярные области и обратная сторона планеты.
        </div>

        <div class="p3">
            Радиус Меркурия составляет всего 2439,7 ± 1,0 км, что меньше радиуса спутника Юпитера Ганимеда и спутника Сатурна Титана (двух самых больших спутников планет в солнечной системе).
            Но несмотря на меньший радиус, Меркурий превосходит Ганимед и Титан вместе взятые по массе. Масса планеты равна 3,3⋅1023 кг. С
            редняя плотность Меркурия довольно велика — 5,43 г/см³, что лишь незначительно меньше плотности Земли.
            Учитывая, что Земля намного больше по размерам, значение плотности Меркурия указывает на повышенное содержание в его недрах металлов.
            Ускорение свободного падения на Меркурии равно 3,70 м/с². Вторая космическая скорость — 4,25 км/с. О планете пока известно сравнительно немного.
            Только в 2009 году учёные составили первую полную карту Меркурия, используя снимки аппаратов «Маринер-10» и «Мессенджер».
        </div>

        <div class="p4">
            После лишения Плутона в 2006 году статуса планеты к Меркурию перешло звание самой маленькой планеты Солнечной системы.
        </div>

        <div>
            <img width="500vw" hspace="20" src="{% static 'main/img/merc1.png' %}" alt="фото1">
            <img width="500vw" hspace="30" src="{% static 'main/img/merc2.png' %}" alt="фото2">
            <img width="500vw" hspace="20" src="{% static 'main/img/merc3.png' %}" alt="фото3">
            <img width="700vw" hspace="20" src="{% static 'main/img/merc4.png' %}" alt="фото4">
        </div>

    </div>
{% endblock %}

{% block bgImg %}
    <img src="{% static 'main/img/mercurybg.png' %}" alt="фОН">
    <div class="oa">
        Мерку́рий — ближайшая к Солнцу планета Солнечной системы, наименьшая из планет земной группы.
            Названа в честь древнеримского бога торговли — быстрого Меркурия, поскольку она движется по небу быстрее других планет.
            Её период обращения вокруг Солнца составляет всего 87,97 земных суток — самый короткий среди всех планет Солнечной системы.
    </div>

<script src="{% static 'main/js/three.js-master/build/three.min.js' %}"></script>
<script src="{% static 'main/js/three.js-master/build/GLTFLoader.js' %}"></script>

<script src="{% static 'main/js/three.js-master/examples/js/controls/OrbitControls.js' %}"></script>
    <script>

        var scene = new THREE.Scene();

        var camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 0.1, 1000 );
        camera.position.z = 18;

        var renderer = new THREE.WebGLRenderer( );
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild( renderer.domElement );

        var controls = new THREE.OrbitControls(camera, renderer.domElement);
        controls.enableDamping = true;
        controls.dampingFactor = 0.25;
        controls.enableZoom = false;

        var keyLight = new THREE.DirectionalLight(new THREE.Color('hsl(40,100%,99%)'), 3.0);
        keyLight.position.set(0, 0, 100);

        const light = new THREE.PointLight(0xFFFFFF, 4);
        light.position.set(0, 30, 40);
        scene.add(light);

        let root = null;
        const gltfLoader = new THREE.GLTFLoader();
          const url = "{% static 'main/js/three.js-master/build/mercury.glb' %}";
          gltfLoader.load(url, (gltf) => {
            root = gltf.scene;
            root.scale.set(10,10,10);
            scene.add(root);
          });

        var animate = function () {
            requestAnimationFrame( animate );
            root.rotation.y += 0.001;
            controls.update();
            renderer.render(scene, camera);
        };

        animate();


    </script>
{% endblock %}

{% block title %}
    <title>Меркурий</title>
{% endblock %}