{% extends 'main/layout.html' %}
{% load static %}

{% block stl %}
    <style type="text/css">
        .p1 {max-width: 1500px; margin: 20px auto; font-size: 25px; text-align: center}
        .p2 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p3 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p4 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p5 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
    </style>
    <style>
        body {
            background: linear-gradient(90deg, rgba(36, 29, 17, 1) 0%, rgba(27, 21, 16, 1) 50%);
            overflow-x:hidden;
        }
        .oa{
            top: -35vh;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Сатурн</h1>

        <div class="p1">
            В основном Сатурн состоит из водорода, с примесями гелия и следами воды, метана, аммиака и тяжёлых элементов.
            Внутренняя область представляет собой относительно небольшое ядро из железа, никеля и льда, покрытое
            тонким слоем металлического водорода и газообразным внешним слоем. Внешняя атмосфера планеты кажется из космоса
            спокойной и однородной, хотя иногда на ней появляются долговременные образования. Скорость ветра на Сатурне может
            достигать местами 1800 км/ч, что значительно больше, чем на Юпитере. У Сатурна имеется планетарное магнитное поле,
            занимающее промежуточное положение по напряжённости между магнитным полем Земли и мощным полем Юпитера.
            Магнитное поле Сатурна простирается на 1 000 000 километров в направлении Солнца. Ударная волна была
            зафиксирована «Вояджером-1» на расстоянии в 26,2 радиуса Сатурна от самой планеты, магнитопауза расположена на расстоянии в 22,9 радиуса.
        </div>

        <div class="p2">
                Сатурн обладает заметной системой колец, состоящей главным образом из частичек льда,
            меньшего количества тяжёлых элементов и пыли. Вокруг планеты обращается 82 известных на данный момент спутника.
            Титан — самый крупный из них, а также второй по размерам спутник в Солнечной системе (после спутника Юпитера, Ганимеда),
            который превосходит по своим размерам Меркурий и обладает единственной среди спутников планет Солнечной системы плотной атмосферой.
        </div>

        <div class="p3">
            Сатурн относится к типу газовых планет: он состоит в основном из газов и не имеет твёрдой поверхности.
            Экваториальный радиус планеты равен 60 300 км, полярный радиус — 54 400 км; из всех планет Солнечной системы
            Сатурн обладает наибольшим сжатием. Масса планеты в 95,2 раза превышает массу Земли, однако средняя плотность
            Сатурна составляет всего 0,687 г/см³, что делает его единственной планетой Солнечной системы,
            чья средняя плотность меньше плотности воды. Поэтому, хотя массы Юпитера и Сатурна различаются более
            чем в 3 раза, их экваториальный диаметр различается только на 19 %. Плотность остальных газовых гигантов
            значительно больше (1,27—1,64 г/см³). Ускорение свободного падения на экваторе составляет 10,44 м/с²,
            что сопоставимо со значениями Земли и Нептуна, но намного меньше, чем у Юпитера.
        </div>

        <div class="p4">
            Происхождение Сатурна (равно как и Юпитера) объясняют две основные гипотезы. Согласно гипотезе «контракции»,
            схожесть состава Сатурна с Солнцем в том, что у обоих небесных тел имеется большая доля водорода, и, как следствие,
            малую плотность можно объяснить тем, что в процессе формирования планет на ранних стадиях развития Солнечной системы
            в газопылевом диске образовались массивные «сгущения», давшие начало планетам, то есть Солнце и планеты формировались
            схожим образом. Тем не менее, эта гипотеза не может объяснить различия состава Сатурна и Солнца.
            Гипотеза «аккреции» гласит, что процесс образования Сатурна происходил в два этапа. Сначала в течение 200 миллионов лет
            шёл процесс формирования твёрдых плотных тел, наподобие планет земной группы.
            Во время этого этапа из области Юпитера и Сатурна диссипировала часть газа, что затем повлияло на различие в
            химическом составе Сатурна и Солнца. Затем начался второй этап, когда самые крупные тела достигли удвоенной массы
            Земли. На протяжении нескольких сотен тысяч лет длился процесс аккреции газа на эти тела из первичного протопланетного облака.
            На втором этапе температура наружных слоёв Сатурна достигала 2000 °C.
        </div>

        <div class="p5">
            Верхние слои атмосферы Сатурна состоят на 96,3 % из водорода (по объёму) и на 3,25 % — из гелия (по сравнению с 10 % в атмосфере Юпитера).
            Имеются примеси метана, аммиака, фосфина, этана и некоторых других газов. Аммиачные облака в верхней части атмосферы мощнее юпитерианских.
            Облака нижней части атмосферы состоят из гидросульфида аммония (NH4SH) или воды.
            По данным «Вояджеров», на Сатурне дуют сильные ветра, до 500 м/с. Ветра дуют в основном в восточном направлении
            (по направлению осевого вращения). Их сила ослабевает при удалении от экватора; при удалении от экватора
            появляются также и западные атмосферные течения. Ряд данных указывает, что циркуляция атмосферы происходит
            не только в слое верхних облаков, но и на глубине, по крайней мере, до 2 тыс. км. Кроме того, измерения
            «Вояджера-2» показали, что ветры в южном и северном полушариях симметричны относительно экватора.
            Есть предположение, что симметричные потоки как-то связаны под слоем видимой атмосферы.
        </div>

        <div>
            <img width="500vw" hspace="20" src="{% static 'main/img/sat1.png' %}" alt="фото1">
            <img width="500vw" hspace="30" src="{% static 'main/img/sat2.png' %}" alt="фото2">
            <img width="500vw" hspace="20" src="{% static 'main/img/sat3.png' %}" alt="фото3">
            <img width="500vw" hspace="30" src="{% static 'main/img/sat4.png' %}" alt="фото4">
        </div>

    </div>
{% endblock %}

{% block bgImg %}
    <img src="{% static 'main/img/saturnbg.png' %}" alt="фОН">
    <div class="oa">
        Сатурн — шестая планета от Солнца и вторая по размерам планета в Солнечной системе после Юпитера. Сатурн,
            а также Юпитер, Уран и Нептун, классифицируются как планеты-гиганты. Сатурн назван в честь римского бога земледелия.
    </div>

<script src="{% static 'main/js/three.js-master/build/three.min.js' %}"></script>
<script src="{% static 'main/js/three.js-master/build/GLTFLoader.js' %}"></script>

<script src="{% static 'main/js/three.js-master/examples/js/controls/OrbitControls.js' %}"></script>
    <script>

        var scene = new THREE.Scene();

        var camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 0.1, 1000 );
        camera.position.z = 25;

        var renderer = new THREE.WebGLRenderer( );
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild( renderer.domElement );

        var controls = new THREE.OrbitControls(camera, renderer.domElement);
        controls.enableDamping = true;
        controls.dampingFactor = 0.25;
        controls.enableZoom = false;

        var keyLight = new THREE.DirectionalLight(new THREE.Color('hsl(0,0%,100%)'), 1.0);
        keyLight.position.set(0, 0, 100);

        const light = new THREE.PointLight(0xFFFFFF, 1.4);
        light.position.set(0, 30, 30);
        scene.add(light);

        let root = null;
        const gltfLoader = new THREE.GLTFLoader();
          const url = "{% static 'main/js/three.js-master/build/saturn.glb' %}";
          gltfLoader.load(url, (gltf) => {
            root = gltf.scene;
            root.scale.set(10,10,10);
            scene.add(root);
          });

        var animate = function () {
            requestAnimationFrame( animate );
            root.rotation.y += 0.001;
            controls.update();
            renderer.render(scene, camera);
        };

        animate();


    </script>
{% endblock %}

{% block title %}
    <title>Сатурн</title>
{% endblock %}