{% extends 'main/layout.html' %}
{% load static %}

{% block stl %}
    <style type="text/css">
        .p1 {max-width: 1500px; margin: 20px auto; font-size: 25px; text-align: center}
        .p2 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p3 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p4 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p5 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p7 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
        .p6 {max-width: 1500px; margin: 30px auto; font-size: 25px; text-align: center}
    </style>
    <style>
        body {
            background: linear-gradient(90deg, rgba(2, 37, 63, 1) 0%, rgba(1, 15, 34, 1) 50%);
            overflow-x:hidden;
        }
        .oa{
            top: -35vh;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Уран</h1>

        <div class="p1">
            В отличие от газовых гигантов — Сатурна и Юпитера, состоящих в основном из водорода и гелия,
            в недрах Урана и схожего с ним Нептуна отсутствует металлический водород, но зато много льда в его
            высокотемпературных модификациях. По этой причине специалисты выделили эти две планеты в отдельную
            категорию «ледяных гигантов». Основу атмосферы Урана составляют водород и гелий.
            Кроме того, в ней обнаружены следы метана и других углеводородов, а также облака изо льда, твёрдого
            аммиака и водорода. Это самая холодная планетарная атмосфера Солнечной системы с минимальной температурой
            в 49 К (−224 °C). Полагают, что Уран имеет сложное слоистое строение облаков, где вода составляет
            нижний слой, а метан — верхний. Недра Урана состоят в основном изо льдов и горных пород.
        </div>

        <div class="p2">
            Так же как у газовых гигантов Солнечной системы, у Урана имеется система колец и магнитосфера,
            а кроме того, 27 спутников. Ориентация Урана в пространстве отличается от остальных планет
            Солнечной системы — его ось вращения лежит как бы «на боку» относительно плоскости обращения
            этой планеты вокруг Солнца. Вследствие этого планета бывает обращена к Солнцу попеременно то
            северным полюсом, то южным, то экватором, то средними широтами.
        </div>

        <div class="p3">
            В 1986 году американский космический аппарат «Вояджер-2» передал на Землю снимки Урана
            с близкого расстояния. На них видна «невыразительная» в видимом спектре планета без облачных полос
            и атмосферных штормов, характерных для других планет-гигантов. Однако в настоящее время наземными
            наблюдениями удалось различить признаки сезонных изменений и увеличения погодной активности
            на планете, вызванных приближением Урана к точке своего равноденствия. Скорость ветров на Уране
            может достигать 250 м/с (900 км/ч).
        </div>

        <div class="p4">
            Средняя удалённость планеты от Солнца составляет 19,1914 а.е. (2,8 млрд км). Период полного
            обращения Урана вокруг Солнца составляет 84 земных года. Расстояние между Ураном и Землёй меняется от
            2,6 до 3,15 млрд км. Большая полуось орбиты равна 19,229 а.е., или около 3 млрд км.
            Интенсивность солнечного излучения на таком расстоянии составляет 1/400 от значения на орбите Земли.
            Впервые элементы орбиты Урана были вычислены в 1783 году французским астрономом Пьером-Симоном Лапласом,
            однако со временем были выявлены несоответствия расчётных и наблюдаемых положений планеты. В 1841 году
            британец Джон Кауч Адамс первым предположил, что ошибки в расчётах вызваны гравитационным воздействием
            ещё не открытой планеты. В 1845 году французский математик Урбен Леверье начал независимую работу по
            вычислению элементов орбиты Урана, а 23 сентября 1846 года Иоганн Готфрид Галле обнаружил новую планету,
            позже названную Нептуном, почти на том же месте, которое предсказал Леверье. Период вращения Урана вокруг
            своей оси составляет 17 часов 14 минут. Однако, как и на других планетах-гигантах, в верхних слоях
            атмосферы Урана дуют очень сильные ветры в направлении вращения, достигающие скорости 240 м/c. Таким
            образом, вблизи 60 градусов южной широты некоторые видимые атмосферные детали делают оборот вокруг
            планеты всего за 14 часов.
        </div>

        <div class="p5">
            Уран — наименее массивная из планет-гигантов Солнечной системы, он тяжелее Земли в 14,5 раз.
            Плотность Урана, равная 1,27 г/см³, ставит его на второе после Сатурна место среди наименее плотных планет Солнечной системы.
            Несмотря на то, что радиус Урана немного больше радиуса Нептуна, его масса несколько меньше, что свидетельствует
            в пользу гипотезы, согласно которой он состоит в основном из различных льдов — водного, аммиачного и метанового.
            Их масса, по разным оценкам, составляет от 9,3 до 13,5 земных масс. Водород и гелий составляют лишь
            малую часть от общей массы (между 0,5 и 1,5 земных масс); оставшаяся доля (0,5 — 3,7 земных масс)
            приходится на горные породы (которые, как полагают, составляют ядро планеты).
        </div>

        <div class="p6">
            Стандартная модель Урана предполагает, что Уран состоит из трёх частей: в центре — каменное ядро,
            в середине — ледяная оболочка, снаружи — водородно-гелиевая атмосфера. Ядро является относительно маленьким,
            с массой приблизительно от 0,55 до 3,7 земных масс и с радиусом в 20 % от радиуса всей планеты. Мантия
            (льды) составляет бо́льшую часть планеты (60 % от общего радиуса, до 13,5 земных масс). Атмосфера при
            массе, составляющей всего 0,5 земных масс (или, по другим оценкам, 1,5 земной массы), простирается
            на 20 % радиуса Урана. В центре Урана плотность должна повышаться до 9 г/см³, давление должно достигать
            8 млн бар (800 ГПа) при температуре в 5000 К. Ледяная оболочка фактически не является ледяной в
            общепринятом смысле этого слова, так как состоит из горячей и плотной жидкости, являющейся смесью воды,
            аммиака и метана. Эту жидкость, обладающую высокой электропроводностью, иногда называют «океаном водного
            аммиака». Состав Урана и Нептуна сильно отличается от состава Юпитера и Сатурна благодаря «льдам»,
            преобладающим над газами, оправдывая помещение Урана и Нептуна в категорию ледяных гигантов.
        </div>

        <div class="p7">
            Несмотря на то, что описанная выше модель наиболее распространена, она не является единственной.
            На основании наблюдений можно также построить и другие модели — например, в случае если существенное
            количество водородного и скального материала смешивается в ледяной мантии, то общая масса льдов будет ниже,
            и соответственно, полная масса водорода и скального материала — выше. В настоящее время доступные данные
            не позволяют определить, какая модель правильней. Жидкая внутренняя структура означает, что у Урана
            нет никакой твёрдой поверхности, так как газообразная атмосфера плавно переходит в жидкие слои. Однако,
            ради удобства за «поверхность» было решено условно принять сплющенный сфероид вращения,
            где давление равно 1 бару. Экваториальный и полярный радиус этого сплющенного сфероида
            составляют 25 559 ± 4 и 24 973 ± 20 км.
        </div>

        <div>
            <img width="500vw" hspace="20" src="{% static 'main/img/uran1.png' %}" alt="фото1">
            <img width="500vw" hspace="30" src="{% static 'main/img/uran2.png' %}" alt="фото2">
            <img width="500vw" hspace="20" src="{% static 'main/img/uran3.png' %}" alt="фото3">
            <img width="500vw" hspace="30" src="{% static 'main/img/uran4.png' %}" alt="фото4">
        </div>

    </div>
{% endblock %}

{% block bgImg %}
    <img src="{% static 'main/img/uranusbg.png' %}" alt="фОН">
    <div class="oa">
        Ура́н — планета Солнечной системы, седьмая по удалённости от Солнца, третья по диаметру и четвёртая по массе.
        Была открыта в 1781 году английским астрономом Уильямом Гершелем и названа в честь греческого бога неба Урана.
    </div>
{% endblock %}

{% block title %}
    <title>Уран</title>
{% endblock %}